body::-webkit-scrollbar {
    width: 8px;               /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    background-color: #fecd38;      /* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #fe3838; /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
  }
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
    background-color: #fecd38;
}
.photo{
    width: 50px;
    margin-top: -20px;
}
.header_container{
    width: 100%;
    z-index: 1;
    padding-top: 15px;
}
.header{
    max-width: 1280px;
    margin: 0 auto;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.namber-nav{
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.linked{
    list-style-type: none;
    margin: 15px;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s;
    transition: 0.3s;
    font-family: 'Rubik', sans-serif;
}
.text_head{
    text-decoration: none;
    color: black;
    transition: 0.1s color ease-in;
}
.text_head:hover{
    color: #fe3838;
}
.first_container{
    max-width: 1280px;
    margin: 0 auto;
}
.first_h1{
    font-family: 'Oswald', sans-serif; 
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 19%;
    max-width: 1000px;
    color: black;
}
.items{
    display: flex;
}
.second_item{
    display: flex;
    margin: 0 auto
}
.container{
    display: block;
    width: 300px;
    height: 300px;
    margin-left: -7%;
    margin-top: 15%;
    margin-bottom: 20%;
}
.cube>div{
    background-color: #fe3838;
    border-color: white;
    box-shadow: 0 0 20px white;
}
.cube{
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    animation: cube 10s linear infinite;
}

@keyframes cube{
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.side_top{
    transform: rotateX(90deg) translateZ(150px);
    position: absolute;
    width: inherit;
    height: inherit;
    border: solid 5px black;
    backface-visibility: hidden;
    box-shadow: 0 0 20px black;
}

.side_right{
    transform: rotateY(90deg) translateZ(150px);
    position: absolute;
    width: inherit;
    height: inherit;
    border: solid 5px black;
    backface-visibility: hidden;
    box-shadow: 0 0 20px black;
}

.side_bottom{
    transform: rotateX(-90deg) translateZ(150px);
    position: absolute;
    width: inherit;
    height: inherit;
    border: solid 5px black;
    backface-visibility: hidden;
    box-shadow: 0 0 20px black;
}

.side_left{
    transform: rotateY(-90deg) translateZ(150px);
    position: absolute;
    width: inherit;
    height: inherit;
    border: solid 5px black;
    backface-visibility: hidden;
    box-shadow: 0 0 20px black;
}

.side_front{
    transform: translateZ(150px);
    position: absolute;
    width: inherit;
    height: inherit;
    border: solid 5px black;
    backface-visibility: hidden;
    box-shadow: 0 0 20px black;
}

.side_back{
    transform: rotateY(180deg) translateZ(150px);
    position: absolute;
    width: inherit;
    height: inherit;
    border: solid 5px black;
    backface-visibility: hidden;
    box-shadow: 0 0 20px black;
}
.second_container{
    max-width: 1280px;
    margin: 0 auto;
}
.second_h3_zagolovok{
    font-family: 'Oswald', sans-serif; 
    color: black;
    font-size: 40px;
}
.photo_block_two{
    width: 50%;
    height: 50%;
    margin-top: 10%;
    filter: grayscale(1);
}
.h1andp_history{
    margin: 10% auto;
}
.h1_history{
    font-family: 'Oswald', sans-serif; 
    font-family: 'Rubik', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-left: 5%
}
.p_history{
    margin: 2% 5%;
    font-family: 'Rubik', sans-serif;
    color: black;
    font-size: 15px;
}
.third_container{
    max-width: 1280px;
    margin: 0 auto;
}
.third_h3_zagolovok{
    font-family: 'Oswald', sans-serif; 
    color: black;
    font-size: 40px;
    margin-bottom: 10%;
}
.third_block_item:not(.kard_block_second){
    display: flex;
}
.first_first_h3{
    font-family: 'Oswald', sans-serif; 
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 1% 2%;
}
.button_kard_block_first{
    border-color: black;
    font-size: 20px;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    margin: 8% 24%;
    background-color: transparent;
    transition: 0.2s background-color ease-in;
    transition: 0.1s color ease-in;
}
.kards_block_first1{
    margin: 3% auto;
}
.button_kard_block_first:hover{
    color: white;
    background-color: black;
}
.button_kard_block_second{
    font-size: 20px;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    margin: 16% 24%;
    background-color: transparent;
    transition: 0.2s background-color ease-in;
    transition: 0.1s color ease-in;
}
.button_kard_block_second:hover{
    color: white;
    background-color: black;
}
.img_radshenko{
    margin-top: 10%;
    width: 500px;
    height: 700px;
    margin-bottom: 1%;
}
.sylka{
    margin-left: 29%;
}
.kard_block_first{
    margin: 4% auto;
}
.first_first{
    border: 1px solid black;
    height: 150px;
    width: 300px;
    margin-bottom: 10%;
}
.first_second{
    border: 1px solid black;
    height: 150px;
    width: 300px;
    margin-bottom: 10%;
}
.first_third{
    border: 1px solid black;
    height: 150px;
    width: 300px;
    margin-bottom: 10%;
}
.first_fourth{
    border: 1px solid black;
    height: 150px;
    width: 300px;
    margin-bottom: 10%;
}
.first_five{
    border: 1px solid black;
    height: 150px;
    width: 300px;
    margin-bottom: 10%;
}
.first_six{
    border: 1px solid black;
    height: 150px;
    width: 300px;
    margin-bottom: 10%;
}
.second_first{
    border: 1px solid black;
    height: 150px;
    width: 300px;
    margin-bottom: 10%;
}
.second_second{
    border: 1px solid black;
    height: 150px;
    width: 300px;
    margin-bottom: 10%;
}
.second_third{
    border: 1px solid black;
    height: 150px;
    width: 300px;
    margin-bottom: 10%;
}
.second_fourth{
    border: 1px solid black;
    height: 150px;
    width: 300px;
    margin-bottom: 10%;
}
.second_five{
    border: 1px solid black;
    height: 150px;
    width: 300px;
    margin-bottom: 10%;
}
.second_six{
    border: 1px solid black;
    height: 150px;
    width: 300px;
    margin-bottom: 10%;
}
.four_h3_zagolovok{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 10%;
    font-family: 'Oswald', sans-serif; 
    color: black;
    font-size: 40px;
}
.makers{
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.border{
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover{
    border: 1px solid white;
}
.card{
  height: 379px;
  width: 300px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0{
  background: url('./img/Nuraliev.jpg') center center no-repeat;
  background-size: 300px;
}
.card0:hover{
    background: url('./img/Nuraliev.jpg') left center no-repeat;
    background-size: 600px;
}
.card1{
  background: url('./img/gibert.jpg') center center no-repeat;
  background-size: 300px;
}
.card1:hover{
    background: url('./img/gibert.jpg') left center no-repeat;
    background-size: 600px;
}
.card2{
  background: url('./img/Nuraliev2.png') center center no-repeat;
  background-size: 300px;
  filter: grayscale(1);
}
.card2:hover{
    background: url('./img/Nuraliev2.png') left center no-repeat;
    background-size: 600px;
}
.makers_h2{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  margin: 20px;
  opacity: 0;
  transition: opacity 500ms;
}
.card:hover .makers_h2{
    opacity: 1;
    transition: opacity 500ms;
}
.fa{
  opacity: 0;
  transition: opacity 1s;
}
.icons{
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.five_container{
    max-width: 1280px;
    margin: 0 auto;
}
.five_zagolovok{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 10%;
    font-family: 'Oswald', sans-serif; 
    color: black;
    font-size: 40px;
}
.installing{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.h1_block_item{
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
}
.windows_icons{
    width: 100px;
    height: 100px;
}
.apple_icons{
    width: 100px;
    height: 100px;
}
.linux_icons{
    width: 100px;
}
.windows_install{
    margin-right: 5%;
    display: grid;
}
.apple_install{
    margin-right: 5%;
    display: grid;
}
.linux_install{
    display: grid;
}
.win_a{
    margin-top: 7%;
    margin-left: -11%;
    padding-bottom: 200px;
}
.apple_a{
    margin-top: 7%;
    padding-bottom: 200px;
}
.linux_a{
    padding-top: 7%;
    padding-bottom: 200px;
}
.p_linux{
    margin-top: 9%;
    margin-bottom: 10%;
}
.burger_icon{
    display: none;
    width: 50px;
    margin-right: 25px;
}
.mob__menu_back{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: fixed;
    display: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.mob_menu{
    z-index: 3;
    display: none;
    width: 320px;
    height: 100vh;
    text-align: center;
    background-color: orange;
    position: fixed;
    z-index: 100;
    right: 0px;
}
.mob_menu ul{
    margin-top: 100px;
}
.mob_menu li img {
    filter: invert(100%);
}
.mob_menu li{
    margin-bottom: 25px;
}
.mob_menu ul li, .mob_menu ul li a{
    color: black;
    font-family: sans-serif;
    font-size: 25px;
}
.mob_menu ul li img {
    margin-right: 25px;
}
#mob__menu_close{
    width: 40px;
    margin-top: 25px;
    margin-left: 250px;
}
@media screen and (max-width: 1279px) {
    .container{
        visibility: hidden;
    }
    .third_block_item:not(.kard_block_second){
        display: grid;
    }
    .third_photo_radshenko{
        text-align: center;
    }
    .sylka_block{
        text-align: center;
    }
    .sylka{
        margin: 0;
    }
    .second_item{
        display: grid;
        place-items: center;
    }
    .photo_block_two{
        width: 70%;
        height: 70%;
    }
    .first_six{
        margin-bottom: 0px;
    }
    .makers{
        height: 100vh;
        width: 100vw;
        display: grid;
        min-height: 1227px;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        min-width: auto;
        margin-top: 10%;
    }
    .card{
        margin-top: 10%;
    }
    .second_container{
        max-width: 550px;
    }
    .third_container{
        max-width: 550px;
    }
    .four_container{
        max-width: 550px;
    }
    .five_container{
        max-width: 550px;
    }
}
@media screen and (max-width: 767px){ 
    .burger_icon{
        display: block;
    } 
    .namber-nav{
        justify-content: space-between;   
    }
    .namber-nav>li{
        display: none;
    }
    .installing{
        display: grid;
    }
    .win_a{
        padding-bottom: 70px;
        color: purple;
    }
    .apple_a{
        padding-bottom: 70px;
        color: purple;
    }
    .p_linux{
        margin-left: -5px;
        color: purple;
    }
    .img_radshenko{
        width: 300px;
        height: 400px;
    }
    .third_photo_radshenko {
        text-align: center;
        margin-bottom: 10%;
    }
    .first_h1{
        font-size: 32px;
    }
    .second_h3_zagolovok{
        font-size: 32px;
    }
    .third_h3_zagolovok{
        font-size: 32px;
    }
    .four_h3_zagolovok{
        font-size: 32px;
    }
    .five_zagolovok{
        font-size: 32px;
    }
    .h1_block_item{
        font-size: 23px;
    }
    .h1_history{
        font-size: 23px;
    }
    .p_history{
        font-size: 11px;
    }
    .photo_block_two {
        width: 87%;
        height: 87%;
    }
    .card{
        margin-top: 10%;
    }
    .second_container{
        max-width: 300px;
    }
    .third_container{
        max-width: 300px;
    }
    .four_container{
        max-width: 300px;
    }
    .five_container{
        max-width: 300px;
    }
}